/* Chrome, Safari, Edge, Opera */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.no-spinner[type="number"] {
    -moz-appearance: textfield;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
    background-color: #9CA3AF; /* Màu xám nhạt */
    cursor: not-allowed;
}
