.content-format html {
    font-family: Arial, Helvetica, sans-serif !important;
    overflow-y: scroll !important;
    min-width: 1000px !important;
}

.content-format body {
    background-color: #fff !important;
    color: #444 !important;
    line-height: 1.5em !important;
}

.content-format,
.content-format p{
    font-size: 14px !important;
    text-align: justify;
}

.content-format h1,
.content-format h2,
.content-format h3,
.content-format h4,
.content-format h5,
.content-format h6 {
    margin: 1.5em 0 0.833em !important;
    font-weight: bold !important;
    line-height: 1em !important;
}

.content-format h1,
.content-format .h1 {
    font-size: 2em !important;
}

.content-format h2,
.content-format .h2 {
    font-size: 1.6em !important;
}

.content-format h3,
.content-format .h3 {
    font-size: 1.4em !important;
}

.content-format h4,
.content-format .h4 {
    font-size: 1.2em !important;
}

.content-format h5,
.content-format .h5 {
    font-size: 1.1em !important;
}

.content-format h6,
.content-format .h6 {
    font-size: 1em !important;
}

/* .content-format p {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
} */

.content-format img {
    margin: auto;
}

.content-format small {
    font-size: 0.833em !important;
}

.content-format em,
.content-format i {
    font-style: italic !important;
}

.content-format strong,
.content-format b {
    font-weight: bold !important;
}

.content-format code,
.content-format pre {
    font-family: monospace !important;
}

.content-format a {
    text-decoration: underline !important;
}

.content-format a:hover,
.content-format a:focus {
    text-decoration: none !important;
}

.content-format a:hover,
.content-format a:active {
    outline: none !important;
}

.content-format hr {
    background-color: #fff !important;
    border: 1px solid #fff !important;
    border-top: 1px solid #aaa !important;
    clear: both !important;
    margin: 2em 0 !important;
}

.content-format blockquote {
    padding: 0.2em 1em 0.2em 2em !important;
    border-left: 3px solid #eee !important;
}

.content-format .b {
    font-weight: bold !important;
}

.content-format .em {
    font-style: italic !important;
}

.content-format .big {
    font-size: 1.166em !important;
}

.content-format .small {
    font-size: 0.833em !important;
}

.content-format .del {
    text-decoration: line-through !important;
}

/* Fixed list styles */

.content-format ul,
.content-format ol {
    padding-left: 2em !important;
    margin: 1em 0 !important;
}

.content-format ol {
    list-style: decimal !important;
}

.content-format ul {
    list-style: disc !important;
}

.content-format ol,
.content-format ul > li {
    margin: 0.5em 0 !important;
}

.content-format ol,
.content-format ul > li ul {
    margin: 0 0 1em !important;
}

/* Reset float for list items */
.content-format ul,
.content-format ol {
    float: none !important;
    margin-left: 0 !important;
}

.content-format ul > li,
.content-format ol > li {
    float: none !important;
    margin-right: 0 !important;
}
