.main-section a {
    color: cornflowerblue !important;
    font-style: italic;
    text-decoration: none;
}

.main-section a:hover {
    text-decoration: underline;
}

.breadcrumb span {
    font-size: 14pt;
}

.ql-toolbar {
    border-radius: 6px 6px 0 0 !important;
}

.ql-container {
    height: 70% !important;
    border-radius: 0 0 6px 6px !important;
}

.ql-font-monospace {
    font-family: "Courier Prime", monospace;
}

.ql-font-serif {
    font-family: "Noto Serif", serif;
}
