.main-section a {
    color: cornflowerblue !important;
    font-style: italic;
    text-decoration: none;
}

.main-section a:hover {
    text-decoration: underline;
}

.breadcrumb span {
    font-size: 14pt;
}

.ql-toolbar {
    border-radius: 6px 6px 0 0 !important;
}

.ql-container {
    height: 70% !important;
    border-radius: 0 0 6px 6px !important;
}

.ql-font-monospace {
    font-family: "Courier Prime", monospace;
}

.ql-font-serif {
    font-family: "Noto Serif", serif;
}

[data-testid="flowbite-tooltip-target"] {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-avatar [data-testid="flowbite-avatar-img"] {
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
}

.main-section a.related-post {
    color: #22c55e !important;
}

.main-section a.related-post:hover {
    color: #16a34a !important;
}

.talk-bubble {
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 8px;
    border-color: #666;
}

.talk-border {
    border: 2px solid #666;
}

.talk-round {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

.tri-right.talk-border.left-top:before {
    content: " ";
    position: absolute;
    width: 20;
    height: 0;
    left: -40px;
    right: auto;
    top: -8px;
    bottom: auto;
    border: 2px solid;
    border-color: #666 transparent transparent transparent;
}

.tri-right.left-top:after {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: 0px;
    bottom: auto;
    border: 20px solid;
    border-color: white transparent transparent transparent;
}

.triangle {
    position: relative;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 70px solid #555;
    border-bottom: 40px solid transparent;
}

.triangle:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 66px solid white;
    border-bottom: 38px solid transparent;
}



