.noti-avatar [data-testid="flowbite-avatar-img"] {
    width: 3.5rem !important;
    height: 3.5rem !important;
}

.notification-dropdown {
    position: absolute;
    transform-origin: top right;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
}

.notification-dropdown.active {
    transform: scale(1);
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
